
" Pull vim config from vimrc
source ~/.vimrc

" Enable easy-motion
set easymotion
set surround

" Misc
set visualbell
set noerrorbells

" AceJump and easy-motion
map <silent> gs<space> <c-;>
map <silent> gsb <leader><leader>b
map <silent> gsw <leader><leader>w
map <silent> gsf <leader><leader>f
map <silent> gsF <leader><leader>F
map <silent> gsj <leader><leader>j
map <silent> gsk <leader><leader>k

" IDE Actions
noremap <leader>r :action Run<cr>
noremap <leader>b :action ToggleBookmark<cr>
noremap <leader>s :action Android.SyncProject<cr>
noremap <leader>a :action Annotate<cr>
noremap <leader>f :action ReformatCode<cr>
noremap <leader>t :action ActivateTODOToolWindow<cr>
noremap <leader>p :action PinActiveTab<cr>
noremap gc :action CommentByLineComment<cr>


noremap <c-m-o> :action OverrideMethods<cr>
noremap <c-w>s :action SplitHorizontally<cr>
noremap <c-w>v :action SplitVertically<cr>

